<?xml version="1.0" ?>
<model>
    <name>floor3</name>
    <version>1.0</version>
    <sdf version="1.6">floor3.sdf</sdf>
    <author>
        <name>C.Sorawit</name>
        <email>sorawit.chatuphonphiset.a@gmail.com</email>
    </author>
    <description>Floor 3 World Simulation</description>
</model>
